<!DOCTYPE html>

<head>
    <meta chartset="utf-8" />
    <title>Musique Normale</title>
    <meta name="description" content="Musical Software Company Main Page" />
    <meta name="keywords" content="Pitch, Plugin, MusiqueNormale, Software, Music" />
    <link rel="stylesheet" href="static/help.css" />
    <link rel="shortcut icon" href="static/attachment/treeIcon.png">
</head>

<body class="wrapper">
    <header>
        <a class="logo" href="http://localhost:5000">Attac:k!</a>
        <p class="sublogo">Stop Scrolling, Start Playing.</p>
    </header>
    <main>
        <p>
            Add description of the app
        </p>
    </main>
    <!--<aside>
            <h1>Credits</h1>
            <ul>
                <li>Website hosted on...</li>
                <li>Handcrafted in vanilla html and css</li>
                <li>Typo is the open source Inter</li>
            </ul>
        </aside>-->
    <nav class="menu">
        <ul>
            <li>
                <a class="nav" href="http://localhost:5000/prod">prod</a>
            </li>
            <li>
                <a class="nav" href="http://localhost:5000/help"><b>help</b></a>
            </li>
        </ul>
    </nav>
</body>

</html>