<!DOCTYPE html>
<html>

<head>
    <meta chartset="utf-8" />
    <title>Musique Normale</title>
    <meta name="description" content="Musical Software Company Main Page" />
    <meta name="keywords" content="Pitch, Plugin, Attac:k!, Software, Music" />
    <link rel="stylesheet" type="text/css" href="static/Attack.css" />
    <link rel="shortcut icon" href="static/attachment/treeIcon.png">
</head>

<body>
    <div class="wrapper2parts">
        <div class="element2parts wrapperLeft">
            <header class="elementLeft">
                <a class="logo" href="http://localhost:5000">Attac:k!</a>
                <p class="sublogo">Stop Scrolling, Start Playing.</p>
            </header>
            <main class="elementLeft pluginPres">
                <h2 class="title">Attac:k!</h2>
                <p class="catch">Stop scrolling,<br /> Start playing.</p>
                <p class="presentation">Stop losing time looking for samples.<br />
                    Rediscover your sounds.<br />
                    Project them on a map to explore.
                </p>
                <a class="button" href="http://localhost:5000/prod">Try Attac:k! Now</a>
            </main>
            <nav class="menu elementLeft">
                <ul>
                    <li>
                        <a class="nav" href="http://localhost:5000/prod">prod</a>
                    </li>
                    <li>
                        <a class="nav" href="http://localhost:5000/help">help</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="backgroundImage">
            <!--<img class="background" src="static/attachment/tree_formattedchanged2.png" alt="illustration tree 3d"/>-->
        </div>
    </div>
</body>

</html>