<!doctype html>
<!doctype html>
    <head>
        <meta chartset="utf-8"/>
        <title>Musique Normale</title>
        <meta name="description" content="Musical Software Company Main Page"/>
        <meta name="keywords" content="Pitch, Plugin, MusiqueNormale, Software, Music"/>
        <link rel="stylesheet" href="static/info.css"/>
        <link rel="shortcut icon" href="static/attachment/treeIcon.png">
    </head>
    <body class="wrapper">
        <header>
            <a class="logo" href="http://localhost:5000">Musique Normale</a>
            <p class="sublogo">Digital Sound, Musical Practice</p>
        </header>
        <main>
            <p>
                Deeply rooted in humanities, design and engineering, 
                musique normale inquires digital music production, 
                diffusion and consumption. Eventually, we offer new digital 
                musical devices and standards.
            </p>
        </main>
        <!--<aside>
            <h1>Credits</h1>
            <ul>
                <li>Website hosted on...</li>
                <li>Handcrafted in vanilla html and css</li>
                <li>Typo is the open source Inter</li>
            </ul>
        </aside>-->
        <nav class="menu">
            <ul>
                <li>
                    <a class="nav" href="http://localhost:5000/prod">prod</a>
                </li>
                <li>
                    <a class="nav" href="http://localhost:5000/info">info</a>
                </li>
            </ul>
        </nav>
    </body>
</html>